<div id="about">

	<p>
		<img src="assets/truck.jpg" alt="alt text" style="float: left">

		In 1817, Karl von Drais, a German baron, invented a horseless carriage that would help him get around faster. The two-wheeled, pedal-less device was propelled by pushing your feet against the ground, The machine became known as the “draisine,” and led to the creation of the modern-day bicycle. The term “bicycle” was not introduced until the 1860s, when it was coined in France to describe a new kind of two-wheeler with a mechanical drive. Orville and Wilbur Wright, the brothers who built the first flying airplane, operated a small bike repair shop in Dayton, Ohio. They used their workshop to build the 1903 Wright Flyer.
	</p>
	<p class="clear">&nbsp;</p>
</div>