<nav>
	<ul id="bike" style="list-style-image: url("assets/bike.png");">
		<li><img id="bike-img" src="assets/bike.png"></li>
		<li><a href="">Rent</a></li>
	</ul>
		
	<ul id="about" style="list-style-image: url("assets/about.png");">
		<li><img id="about-img" src="assets/about.png"></li>
	<li><a href="">About</a></li>
		</ul>
		
	<ul id="contact" style="list-style-image: url("assets/contact.png");">
		<li><a href="tel:19368270940">Call Now</a></li>
		<li><img id="contact-img" src="assets/contact.png"></li>
		<li><a href="">Contact</a></li>
	</ul>
</nav>