


p.clear {clear: both}

.container {
	width:100%;
}

$color_nav_a_background: rgba(0,100,0,0.5);
$color_nav_text: white;
$color_nav_text_visited: $color_nav_text;
$color_nav_text_hover: $color_nav_text;
$color_nav_a_background_hover: rgba(0,125,0,0.7);
$color_body_background_gradient_from: rgba(0,0,175,0.5);
$color_body_background_gradient_to: rgba(0,125,0,0.5);
$color_default: white;
$color_sphere: $color_nav_a_background;

body {
    background: linear-gradient($color_body_background_gradient_from, $color_body_background_gradient_to);

}
html {
    height: 100%
}
body {
    background-attachment: fixed
}
footer {
	bottom: 0;
	position: absolute;
	width:98%;
}
header {
	display:block;
	height: 45vh;
	background-size: 100% 100%;
	position: relative;
	border-radius: 5px;
	border: 1.2px solid green;
	img {
		width:20%;
	}
	nav {
		bottom:0;
		left:20%;
		position: absolute;
		width:60%;
		margin: auto;
		margin-top: .2em;
		text-align: justify;
		a {
		  text-color:$color_nav_text;
		  background-color:$color_nav_a_background;
			box-shadow: 0px 14px 10px -10px rgba(0,0,0,0.44);
			display: inline-block;
			text-decoration: none;
			border: 1px solid black;
			border-radius: 10%;
			padding: .2em 1em;
			font-size: 1.4em;
			&:visited {
				color: $color_nav_text_visited;
			}
			&:hover {
				transform: scale(1.05);
				color: $color_nav_text_hover;
				animation-name: nav_a_hover;
				animation-duration: .5s;
				background-color: $color_nav_a_background_hover;
			}
			&:active {

			}
		}
		&:after {
			content: '';
			width: 100%; /* Ensures justification for single lines */
			display: inline-block;
		}
	}
}

#about {
	p {
		img {
			    width: 25%;
			    margin: 0em 1em;
    			border: 2px solid green;
		}
	}
}


